html, body {
  height: 100%;
}

body {
  background-color: #ffffff;
  margin: 0;
  font-family: Arial;
  overflow: hidden;
}

a {
  color: #8888ff;
}

#game-window {
  position: absolute;
  top: 0px;
}

#info {
  position: absolute;
  width: 100%;
  color: #000000;
  padding: 5px;
  font-family: Monospace;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

#container {
  height: 100%;
}

#instructions {
  position: absolute;
}

 /* --- reset Btn --- */
.btn{
  background: #428bca;
  border: darkblue solid 1px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 4px 6px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color .1s ease;
  font-weight: 900;

 /* top: 40em;*/
}

.btn:hover{
  background: darkblue;
}

.btn-big{
  font-size: 18px;
  padding: 8px 10px;
  min-width: 70px;
  margin: 10px;
  top: 0px;
    position: absolute;
}

.instructions {
  margin: 20px;
}

.gameover {
  display: none;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  margin: auto;
  width: 450px;
  position: absolute;
  left: calc(50% - 225px);
  background: aliceblue;
  z-index: 500;
  bottom: 50%;
}

 /*--- Score --- */

.score {
  position: absolute;
  right: 30px;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1;
  background-image: url("../images/diamond.png");
  background-repeat: no-repeat;
  background-size: contain;

}

.score > input {
  border: 0;
  display: inline-block;
  font-size: 30px;
  width: 25px;
  /*margin: 10px;*/
  background: transparent;
  text-align: center;
  width: 50px;
  margin-top: 7px;
  color: #3E80C3;
  font-weight: 900;
}

.score > img {
}

/* --- Arrow controls ---*/
.left-arrow-btn {
  background-image: url("../images/arrow_left.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 128px;
  width: 128px;
  margin: 20px;
}

.right-arrow-btn {
  background: url("../images/arrow_right.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 128px;
  width: 128px;
  margin: 20px;
}

 /*--- Play/pause --- */
.play-pause-container {
  height: 60px;
  width: 62px;
  overflow-x: hidden;
  display: inline-block;
  position: absolute;
  background: transparent;
  right: 20px;
  top: 85px;
 }

 .play-pause {
   background: url("../images/pause_play_stop.png");
   background-repeat: no-repeat;
   background-size: auto;
   height: 100%;
   width: 217px;
 }

.play-pause.play {
  transform: translateX(-78px);
}
