html, body {
  height: 100%;
}

body {
  background-color: #ffffff;
  margin: 0;
  font-family: Arial;
  overflow: hidden;
}

a {
  color: #8888ff;
}

ul {
  list-style: none;
}

#game-window {
  position: absolute;
  top: 0px;
}

.setup-container {
  z-index: 100;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  background: #393939;
  color: white;
  font: 14px Helvetica, sans-serif;
}

#setup {
  width: 500px;
  margin: 100px auto;
}

.instructions {
  /*display: hidden;*/
  display: block;
  position: absolute;
  margin: auto;
  bottom: 0;
  background: #393939;
  color: white;
  z-index: 101;
  border-radius: 20px;
}

.instructions-setup {
  width: 100%;
}

.instructions-visible {
  padding: 22px;
  /*width: 0;*/
  height: 25%;
  overflow: hidden;
  text-align: center;
  /*text-align: left;*/
}

.icon-hidden {
  display: none;
}

.instructions-icon {
  cursor: pointer;
  width: 50px;
  height: 50px;
  float: left;
  background: url(../images/i_icon.png) no-repeat;
}

.instructions-visible > h2 {
  /*text-align: center;*/
  text-decoration: underline;
}

.instructions-close {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  color: gray;
}
.instructions-close:hover {
  color: black;
}

label {
  font: bold 20px Helvetica, sans-serif;
  display: block;
  float: left;
  text-align: right;
  padding: 5px 10px 0 0;
  width: 140px;
}

input[type=number] {
  float: left;
  width: 40px;
  font: bold 20px Helvetica, sans-serif;
  padding: 3px 0 0 0;
  text-align: center;
}
.form-row {
  overflow: hidden;
  margin: 10px 10px 5px 87px;
}

.button {
  margin: 0 0 0 5px;
  text-indent: -9999px;
  cursor: pointer;
  width: 29px;
  height: 29px;
  float: left;
  text-align: center;
  background: url(../images/buttons.png) no-repeat;
}
.dec {
  background-position: 0 -29px;
}

.buttons {
  padding: 20px 0 0 140px;
  text-align: center;
}

#submit {
  border-radius: 2px;

}

h1 {
  font-size: 45px;
  text-decoration: underline;
  font-style: italic;
  text-align: center;
}

#info {
  position: absolute;
  width: 100%;
  color: #000000;
  padding: 5px;
  font-family: Monospace;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

#container {
  height: 100%;
  top: 0;
}

#instructions {
  position: absolute;
}

 /* --- reset Btn --- */
.btn{
  background: #428bca;
  border: darkblue solid 1px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 4px 6px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color .1s ease;
  font-weight: 900;

 /* top: 40em;*/
}

.btn:hover{
  background: darkblue;
}

.btn-big{
  font-size: 18px;
  padding: 8px 10px;
  min-width: 70px;
  margin: 10px;
  top: 0px;
    position: absolute;
    left: 75px;
}

.gameover {
  display: none;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  margin: auto;
  width: 450px;
  position: absolute;
  left: calc(50% - 225px);
  background: white;
  z-index: 500;
  bottom: 50%;
  overflow: hidden;
}

.gameover > h1 {
  margin-top: 0;
  background: lightsteelblue;
}

 /*--- Score --- */

.score {
  right: 30px;
  width: 200px;
  position: absolute;
}

/*.score-icon {
  position: relative;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1;
  background-image: url("../images/diamond.png");
  background-repeat: no-repeat;
  background-size: contain;
}*/




/* --- Arrow controls ---*/
.left-arrow-btn {
  background-image: url("../images/arrow_left.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 128px;
  width: 128px;
  margin: 20px;
  display: none;
}

.right-arrow-btn {
  background: url("../images/arrow_right.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 128px;
  width: 128px;
  margin: 20px;
  display: none;
}

 /*--- Play/pause --- */
.play-pause-container {
  height: 60px;
  width: 62px;
  overflow-x: hidden;
  display: inline-block;
  position: absolute;
  background: transparent;
  left: 200px;
  top: 10px;
 }

 .play-pause {
   background: url("../images/pause_play_stop.png");
   background-repeat: no-repeat;
   background-size: auto;
   height: 100%;
   width: 217px;
 }

.play-pause.play {
  transform: translateX(-78px);
}
